html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('../images/wallpaper/wallpaper_blue.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    touch-action: none;
}